<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://projetovendas.no-ip.org:3306/Vendas</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <mapping class="entities.AcessoEntity"/>
        <mapping class="entities.ClienteEntity"/>
        <mapping class="entities.FaltasEntity"/>
        <mapping class="entities.FuncionarioEntity"/>
        <mapping class="entities.GastosEntity"/>
        <mapping class="entities.ImagemProdutoEntity"/>
        <mapping class="entities.ParcelaEntity"/>
        <mapping class="entities.PedidoEstoqueEntity"/>
        <mapping class="entities.ProdPedEstoqueEntity"/>
        <mapping class="entities.ProdVendaEntity"/>
        <mapping class="entities.ProdutoEntity"/>
        <mapping class="entities.VendasEntity"/>
        <!-- <property name="connection.username"/> -->
        <!-- <property name="connection.password"/> -->

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>