<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://projetovendas.no-ip.org:3306/Vendas</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <mapping class="Entities.AcessoEntity"/>
        <mapping class="Entities.ClienteEntity"/>
        <mapping class="Entities.FaltasEntity"/>
        <mapping class="Entities.FuncionarioEntity"/>
        <mapping class="Entities.GastosEntity"/>
        <mapping class="Entities.ImagemProdutoEntity"/>
        <mapping class="Entities.ParcelaEntity"/>
        <mapping class="Entities.PedidoEstoqueEntity"/>
        <mapping class="Entities.ProdPedEstoqueEntity"/>
        <mapping class="Entities.ProdVendaEntity"/>
        <mapping class="Entities.ProdutoEntity"/>
        <mapping class="Entities.VendasEntity"/>
        <!-- <property name="connection.username"/> -->
        <!-- <property name="connection.password"/> -->

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>